{% extends base %}

{% block content %}
    <h2>
        Информация о пользователе
        <br>
        {{ current_user }}
    </h2>
    <table class="user_info">
        {% set user = current_user.get_user() %}
        <tr>
            <th>Идентификатор</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Логин</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Фамилия</th>
            <td>{{ user.lastname }}</td>
        </tr>
        <tr>
            <th>Имя</th>
            <td>{{ user.firstname }}</td>
        </tr>
        <tr>
            <th>Отчество</th>
            <td>{{ user.patronymic }}</td>
        </tr>
        <tr>
            <th>Пол</th>
            <td>{{ ("Мужской" if user.info.sex == "М" else "Женский") if user.info.sex else "Не указан" }}</td>
        </tr>
        <tr>
            <th>Дата рождения</th>
            <td>{{ user.info.birthdate|fromTimestamp|strftime("%d.%m.%Y") }}</td>
        </tr>
        {% if user.info.many_children %}
            <tr>
                <th>Многодетная семья</th>
                <td>Да</td>
            </tr>
        {% endif %}
        <tr>
            <th>Класс</th>
            <td>{{ user.classroom }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th rowspan="3">Отец</th>
            <td>{{ user.info.fathers_lastname }}</td>
        </tr>
        <tr>
            <td>{{ user.info.fathers_firstname }}</td>
        </tr>
        <tr>
            <td>{{ user.info.fathers_patronymic }}</td>
        </tr>
        <tr>
            <th rowspan="3">Мать</th>
            <td>{{ user.info.mothers_lastname }}</td>
        </tr>
        <tr>
            <td>{{ user.info.mothers_firstname }}</td>
        </tr>
        <tr>
            <td>{{ user.info.mothers_patronymic }}</td>
        </tr>
    </table>
{% endblock %}
