{% macro ad(post, author) %}
    {% autoescape false %}
        <div class="post">
            <h2 class="post_header">{{ post.header if post else "Объявление" }}</h2>
            <p class="post_text">{{ post.post|line_breaks if post else "Текст объявления" }}</p>

            <div class="post_about">
                <div class="post_date">Опубликовано:
                    {% if post and post.publication_date %}
                        <span class="post_date_text">
                            {{ post.publication_date|fromTimestamp|strftime("%H:%M %d.%m.%Y") }}
                        </span>
                    {% endif %}
                </div>

                <div class="post_author">Автор:
                    {% if author %}
                        {{ author.lastname }} {{ author.firstname }}
                    {% else %}
                        Фамилия и Имя автора
                    {% endif %}
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endmacro %}

{% macro event(post, author) %}
    {% autoescape false %}
        <div class="post">
            <h2 class="post_header">{{ post.header if post else "Событие" }}</h2>
            <div class="event_date">
                Дата события:
                {{ post.date|fromTimestamp|strftime("%H:%M %d.%m.%Y") if post else "hh:mm DD:MM:YY" }}
            </div>
            <p class="post_text">{{ post.post|line_breaks if post else "Описание события" }}</p>

            <div class="post_about">
                <div class="post_date">Опубликовано:
                    {% if post and post.publication_date %}
                        <span class="post_date_text">
                            {{ post.publication_date|fromTimestamp|strftime("%H:%M %d.%m.%Y") }}
                        </span>
                    {% endif %}
                </div>

                <div class="post_author">Автор:
                    {% if author %}
                        {{ author.lastname }} {{ author.firstname }}
                    {% else %}
                        Фамилия и Имя автора
                    {% endif %}
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endmacro %}