<div class="tools_panel">
    <button onclick="add('<h2>', '</h2>');">Заголовок-1</button>
    <button onclick="add('<h3>', '</h3>');">Заголовок-2</button>
    <button onclick="add('<h4>', '</h4>');">Заголовок-3</button>
    <button onclick="add('<h5>', '</h5>');">Заголовок-4</button>
    <button onclick="add('<h6>', '</h6>');">Заголовок-5</button>
    <br>
    <button onclick="add('<i>', '</i>');"><i>Курсив</i></button>
    <button onclick="add('<b>', '</b>');"><b>Жирный</b></button>
    <button onclick="add('<s>', '</s>');"><s>Зачеркнутый</s></button>
    <button onclick="add('<u>', '</u>');"><u>Подчеркнутый</u></button>
    <br>
    <button>Фото</button>
</div>