{% extends base %}
{% from "base/icons.html" import print_doc, download_icon %}

{% block content %}
    <form class="chose_documents" method="post">
        {% for name in doc_names %}
            {% set name = name[:-5] %}
            <div class="chose_documents_el">
                <div class="el_text">
                    {{ name }}
                </div>
                <div>
{#                    <a href="#" class="button">{{ print_doc() }}</a>#}
                    <a href="{{ url_for('download_document', filename=name, doc_type='docx') }}" class="button">
                        <span>docx</span>{{ download_icon() }}
                    </a>
                    <a href="{{ url_for('download_document', filename=name, doc_type='pdf') }}" class="button">
                        <span>pdf</span>{{ download_icon() }}
                    </a>
                    <div class="checkbox">
                        <input id="{{ name }}" type="radio" name="doc" value="{{ name }}">
                        <label for="{{ name }}"></label>
                    </div>
                </div>
            </div>
        {% endfor %}
        <input type="submit" value="Далее">
    </form>
{% endblock %}