{% macro ul(count) %}
    {{ "_" * count }}
{% endmacro %}

{% macro just(str, lenght, let) %}
    {% set count = (lenght - str|length) // 2 %}
    {{ let * count + str + let * count }}
{% endmacro %}

{% macro rzhd(user_id, table) %}
    {% if table %}
        {% set user = table.query.filter(table.id == user_id).first() %}
    {% endif %}
    <div style="background-color: #fff;
    text-align: left;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Arial Narrow', sans-serif;
    width: 620px;
    height: 800px;
    padding: 55px 52px 40px 94px;
    transform: scale(1);
    break-after: page;
    " class="rzhd">
        <div style="text-align: center; font-weight: bold;">
            ДЕПАРТАМЕНТ ОБРАЗОВАНИЯ ГОРОДА МОСКВЫ<br>
ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ОБЩЕОБРАЗОВАТЕЛЬНОЕ<br>
УЧРЕЖДЕНИЕ ГОРОДА МОСКВЫ «ШКОЛА № 627 ИМЕНИ ГЕНЕРАЛА Д.Д. ЛЕЛЮШЕНКО»<br>
(ГБОУ ШКОЛА № 627)<br>
УК-4 «ВАЛЬДОРФСКАЯ ШКОЛА ИМ. А.А. ПИНСКОГО»
            <hr>
            <span style="font-size: 10px; font-weight: normal">Россия, 115093 Москва, Стремянный пер., 33/35, Тел.: (499) 236-52-14, Факс: (499) 236-54-92, sch1060@yandex.ru</span>
        </div>
            <br><br><br><br>
    <div>________   б/н</div>
    <br><br><br><br><br><br><br><br><br>
    <div style="text-align: center; font-weight: bold">СПРАВКА</div>
    <br>
    <br>
    <div style="font-weight: normal; line-height: 21px; text-align: justify; text-align-last: justify;">
        {% for _ in range(4) %}&nbsp;{% endfor %}
        Данной справкой удостоверяется, что
        <span style="border: 0 solid #000; display: inline-block; min-width: 270px; text-align: justify">
        {% if user_id %}
                <u>{{ just(user.lastname + " " + user.firstname + " " + user.patronymic, 40, "_") }}</u>
        {% else %}
            {{ "_" * 50 + "\n" }}
        {% endif %}
        </span>
        {{ "," }}
        <span style="border: 0 solid #000; display: inline-block; min-width: 55px; text-align: justify">
            {% if user_id and user.info.birthdate %}
                    <u>{{ just((1970 + (user.info.birthdate / 31436e3)|int)|string, 10, "_") }}</u>
            {% else %}
                __________
            {% endif %}
        </span>
        года рождения, обучается в _____ «___» классе Государственного бюджетного общеобразовательного учреждения города Москвы «Школа № 627 имени генерала Д.Д. Лелюшенко». Форма обучения очная. Лицензия 036787 от 24.11.2015 г.
    </div>
    <br><br><br>
    <span>Для предъявления по месту требования.</span>
    <br><br><br><br><br><br><br><br>
        <div style="display: flex; justify-content: space-around"><span>Руководитель УК-4</span> <span>А.А. Алхазова</span></div>
    <style>
    hr {
        border: none;
        height: 1px;
        border-top: 3px solid #000000;
        border-bottom: 1px solid #000000;
        margin: 0;
        width: 100%;
    }
</style>
    </div>
{% endmacro %}
{% macro some() %}{% endmacro %}
{% set documents = {
"rzhd": [rzhd, "Справка об обучении"],
"some": [some, "Документ"]
} %}

