<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/styles/styles_with_themes.css">
</head>
<body style="display: flex; justify-content: center;">
{% from "documents/documents.html" import documents %}
    <div class="documents" style="display: inline-block; border: 1px solid">
        {% for user_id in request.args.getlist("s") %}
            {{ documents["rzhd"][0](user_id, Users) }}
        {% endfor %}
    </div>
<script>
    let d = document.querySelector(".documents");
    let scale = 1.5
    d.style.transform = `scale(${scale})`;
    d.style.marginTop = "1100px"
</script>

</body>
</html>