.chose_students
  width: 500px
.chose_documents
  width: 620px + 28px
.chose_students, .chose_documents
  text-align: left
  details, .button
    border:
      width: 4px
      style: solid
      color: $header-color
      radius: $element-border-radius
    margin: 10px
    background-color: $navbar-bgc
    width: auto
    p
      margin: 10px
  summary
    font:
      size: 20px
      weight: bold
    padding: 10px
    position: relative
    div.checkbox
      position: absolute
      top: 3px
      right: $checkbox-size * 2
  input[type=submit]
    width: 100%

  .button
    color: $text-color
    &:hover
      color: $bgc
