
.documents
  display: flex
  flex-direction: column
  justify-content: center
  box-sizing: border-box
  padding: 80px 50px 100px 150px
  width: 1000px
  text-align: center

  color: black
  background-color: #fff

  border: 1px solid black
  p
    margin: 3px

hr
  border: none
  height: 1px
  border-top: 3px solid #000000
  border-bottom: 5px solid #000000
  margin: 0
  width: 100%

.tnr
  font-family: "Times New Roman", serif