$form-width: 400px

$fields-height: $element-height

$fields-border-width: 4px
$fields-border-style: solid
$fields-border-color: $header-color
$fields-border-radius: $element-border-radius

$fields-bgc: $header-color
$fields-text-color: $bgc
$fields-horizontal-padding: $element-padding
$fields-vertical-padding: $element-padding
$fields-groups-space: 60px

$caret-color: $navbar-bgc

$checkbox-size: 20px
$checkbox-label-line-height: 30px

$classroom-field-width: $form-width * 2.95 / 4
$classletter-field-width: $form-width - $classroom-field-width - 5px

$errors-padding: 4px 10px

$form-new-publication-width: 800px
$new-post-field-space: 3px

form
  display: block
  text-align: left
  width: $form-width

input:not([type="checkbox"], [type="radio"]),
.button, select, textarea
  display: block
  box-sizing: border-box
  height: $fields-height
  width: $form-width
  background-color: $fields-bgc
  border:
    width: $fields-border-width
    style: $fields-border-style
    color: $fields-border-color
    radius: $fields-border-radius
  color: $fields-text-color
  text-decoration: none
  font:
    family: Comfortaa
    weight: bold
  caret-color: $caret-color
  padding: $fields-vertical-padding $fields-horizontal-padding

  transition: all 0.2s
  // styles for text elements
  &[type=text], &[type=password], &[type=email], &[type=number], &[type=datetime-local]
    &:hover
      background-color: $input-hover-color
    &:focus
      outline: none
      background-color: $input-hover-color
  // styles for button elements
  &[type=button], &[type=reset], &[type=submit], &[href]
    &:hover
      background-color: $input-hover-color
      border-color: $input-hover-color
    &:active
      opacity: 0.8

  &::placeholder
    color: $fields-text-color
    opacity: 0.5

select:focus
  outline: none


.BooleanField, .checkbox
    position: relative
    height: $checkbox-size
    input
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        position: absolute
    input:checked + label::before
        background-color: $fields-bgc
    label
        position: absolute
        padding-left: $checkbox-size * 2
        line-height: $checkbox-label-line-height
        @include cursor(link, pointer)
        &:before
            margin-right: 10px
            content: ""
            display: block
            width: $checkbox-size
            height: $checkbox-size
            position: absolute
            top: -5px
            left: 0
            background-color: unset

            border:
              width: $fields-border-width
              style: $fields-border-style
              color: $fields-border-color
              radius: $fields-border-radius

// Форма выбора класса
.classroom
  input
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
      display: none

// Отображение ошибок
.form_error
  position: relative
  background-color: $fields-bgc
  border-radius: $fields-border-radius
  padding: $errors-padding
  color: $navbar-bgc
  font-weight: bold
  margin: 5px 0

  &:after
    content: "╳"
    position: absolute
    top: 0
    right: 5px

// register form
.register
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  &_fields
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
  .field_group
    margin: 10px

label
  margin: 5px auto
  display: inline-block

.submit
  margin-top: 30px

div.new_publication
  display: flex
  flex-direction: row
  height: auto
  width: 80%
  margin-top: 15px
  form
    height: 100%
    width: 100%
    textarea
      margin: 0
      height: 500px
      width: 100%
      caret-color: $caret-color
    input[type=text],
    input[type=datetime-local],
    textarea
      margin-bottom: $new-post-field-space
      width: 100%
    input[type=submit]
      width: 100%
      max-width: $form-width

div.tools_panel
  width: 105px
  display: flex
  flex-direction: column
  background-color: $navbar-bgc
  border-radius: $fields-border-radius
  overflow: hidden
  margin-right: 15px
  button
    color: $fields-text-color
    background-color: $fields-bgc
    height: 30px
    width: 100%
    box-sizing: border-box
    font:
      size: 10px
      weight: bold
    border:
      width: 3px
      color: $navbar-bgc
      style: solid
      radius: $fields-border-radius
