body
  margin: 0
  text-align: center
  color: $text_color
  background: $background-color
  font:
    family: "Comfortaa"
    size: 15px
  transition: all .3s

@import "navbar"

main
  display: flex
  flex-direction: column
  align-items: center

  // Стилизация scrollbar
  &::-webkit-scrollbar
    width: 20px
    padding: 2px
    &-track // трек индикатора прокрутки
      background-color: $navbar-background-color
    &-thumb // индикатор прокрутки
      background-color: $header-color
      border-radius: 10px
      border: 4px solid $navbar-background-color


// курсор для всех элементов, на которые требуется нажимать
a, button, .navbar-elements,
input[type="button"],
input[type="reset"],
input[type="submit"]
    @include cursor(pointer, $c_style)

// Курсор для всех текстовых элементов
span, p,
input[type="text"],
input[type="password"],
input[type="email"]
  @include cursor(text, $c_style)


svg.error_requests
  stroke: $text-color


form
  display: block
  text-align: left
  width: 300px

input, .button
  box-sizing: border-box
  height: $element-height
  width: 300px
  background-color: $header-color
  border: 4px solid $header-color
  border-radius: $element-border-radius
  color: $navbar-background-color
  text-decoration: none
  font:
    family: Comfortaa
    weight: bold
  caret-color: $navbar-background-color
  padding: $element-padding $element-padding * 1.5
  &[type=text], &[type=password], &[type=email]
    &:hover
      background-color: $input-hover-color
    &:focus
      border: 4px solid $navbar-background-color
      outline: none
      background-color: $input-hover-color
  &[type=button], &[type=reset], &[type=submit], &[href]
    &:hover
      background-color: $input-hover-color
      border-color: $input-hover-color
    &:active
      opacity: 0.8

  &::placeholder
    color: $navbar-background-color

@import "forms"

@import "documents"
