$element-padding: 20px
$element-border-radius: 8px
$element-height: 60px

$footer-elements-padding: 20px
$footer-elements-space: 20px
$footer-padding: 30px
$footer-margin-top: 300px

$scroll-bar-width: 20px



body
  display: flex
  flex-direction: column
  margin: 0
  text-align: center
  height: 100vh

  color: $text_color
  background: $background-color
  font:
    family: "Comfortaa"
    size: 15px
  transition: all .3s


  // Стилизация scrollbar
  &::-webkit-scrollbar
    width: $scroll-bar-width
    padding: 2px
    &-track // трек индикатора прокрутки
      background-color: $navbar-background-color
    &-thumb // индикатор прокрутки
      background-color: $header-color
      border-radius: 10px
      border: 4px solid $navbar-background-color

@import "navbar"

footer
  display: flex
  justify-content: space-around
  flex-direction: row
  flex-wrap: wrap
  flex: 1 1 auto
  padding: $footer-padding
  margin-top: $footer-margin-top

  background-color: $footer_bgc

  fieldset
    border: none
    border-radius: $element-border-radius
    padding: $footer-elements-padding
    margin: $footer-elements-space

    background-color: $footer-elements-bgc

    legend
      text-align: left
      font:
        size: 1.2em
        weight: bold

    a
      display: block
      padding: 10px
      text-align: left

      font:
        size: 1em
        weight: bold

      color: $text-color
      text-decoration: none

      &:hover
        color: $text-color
        opacity: 0.9

main
  display: flex
  flex-direction: column
  align-items: center

// курсор для всех элементов, на которые требуется нажимать
a, button, .navbar-elements, select, .header,
.Boolean, .checkbox,
input[type="button"],
input[type="reset"],
input[type="submit"]
    @include cursor(pointer, $c_style)

// Курсор для всех текстовых элементов
span, p,
input[type="text"],
input[type="password"],
input[type="email"]
  @include cursor(text, $c_style)

svg.error_requests
  stroke: $text-color

// table in page /profile/info
.user_info
  tr
    height: 36px
  th, td
    color: $background-color
    padding: 10px
    background-color: $header-color
    border-radius: 5px
  th
    text-align: left
    min-width: 150px
    width: 25%
  td
    text-align: right
    min-width: 300px
    width: 50%
.post
  display: flex
  flex-direction: column
  margin:
    top: 30px
    bottom: 30px
    left: auto
    right: auto
  width: 700px
  max-width: 80%
  background-color: $navbar-background-color

  border:
    width: 5px
    style: solid
    color: $header-color
    radius: $element-border-radius

  h2
    margin: 0
    padding: 10px
    background-color: $header-color
    color: $background-color

  p
    padding: 10px
    margin-bottom: 30px

  .post_author
    border:
      width: 3px
      style: solid
      color: $header-color
      bottom: none
      right: none
      top-left-radius: 10px
    width: 50%
    margin:
      right: 0
      left: auto
    padding: 5px
    flex: 1 1 auto

  .event_date
    background-color: $header-color
    color: $background-color
    margin: 0
    font-weight: bold
    padding: 5px

  &_example
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    a
      width: 400px
      text-decoration: none
      color: $text-color
      padding: 0
      div.post
        transition: all .2s
        &:hover
          box-shadow: 0 0 5px $header-color

@import "forms"
@import "documents"
