@font-face
  font-family: Comfortaa
  src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf)

  font-weight: normal
  font-style: normal

@mixin cursor($route, $c_style, $style: false)
  cursor: url("../cursors/#{$route}/#{$c_style}.cur"), if($style, $style, $route)


html
  min-height: 100vh
  border: 2px #f00

.dark-theme
  $background-color: #2a2a2a
  $text-color: #999

  /* navbar */
  $navbar-background-color: #333
  $element-hover-background-color: #4d4d4d
  $header-color: #999

  .navbar-btn.theme
    .light
      display: unset
    .dark
      display: none
  .navbar
    font-weight: bold

  // forms
  $input-hover-color: #888888

  // cursors
  $c_style: "dark"
  @include cursor(default, $c_style)
  @include cursor(default, $c_style)
  @import "style"
.light-theme
  $text-color: #555
  $background-color: #e4e9f7

  /* navbar */
  $navbar-background-color: #ffffff
  $element-hover-background-color: #f2edff
  $header-color: #8658ea

  .navbar-btn.theme
    .light
      display: none
    .dark
      display: unset

  // forms
  $input-hover-color: #753def

  // cursors
  $c_style: "light"
  @include cursor(default, $c_style)
  @import "style"
