@font-face
  font-family: Comfortaa
  src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf)

  font-weight: normal
  font-style: normal

@mixin cursor($route, $c_style, $style: false)
  cursor: url("../cursors/#{$route}/#{$c_style}.cur"), if($style, $style, $route)


html
  min-height: 100vh
  border: 2px #f00

.dark-theme
  $bgc: #2a2a2a
  $text-color: #999
  $footer-bgc: #222
  $footer-elements-bgc: #333

  /* navbar */
  $navbar-bgc: #333
  $element-hover-bgc: #4d4d4d
  $header-color: #999

  .navbar-btn.theme
    .light
      display: unset
    .dark
      display: none
  .navbar
    font-weight: bold

  // forms
  $input-hover-color: #888888

  // cursors
  $c_style: "dark"
  @include cursor(default, $c_style)
  @include cursor(default, $c_style)
  @import "style"
.light-theme
  $text-color: #555
  $bgc: #e4e9f7
  $footer-bgc: rgba(134, 88, 234, 0.13)
  $footer-elements-bgc: rgba(134, 88, 234, 0.19)

  /* navbar */
  $navbar-bgc: #ffffff
  $element-hover-bgc: #f2edff
  $header-color: #8658ea

  .navbar-btn.theme
    .light
      display: none
    .dark
      display: unset

  // forms
  $input-hover-color: #753def

  // cursors
  $c_style: "light"
  @include cursor(default, $c_style)
  @import "style"
