@font-face {
  font-family: Comfortaa;
  src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}
.dark-theme {
  /* navbar */
  /* navbar */
}
.dark-theme .navbar {
  font-weight: bold;
}
.dark-theme body {
  margin: 0;
  text-align: center;
  color: #999;
  background: #2a2a2a;
  font-family: "Comfortaa";
  font-size: 15px;
  transition: all 0.3s;
}
.dark-theme .navbar {
  position: fixed;
  box-sizing: border-box;
  height: 100vh;
  width: 80px;
  top: 0;
  padding: 10px;
  background-color: #444444;
  transition: all 0.2s;
  /* open navbar */
  /* navbar-elements */
}
.dark-theme .navbar + main {
  margin-left: 80px;
  transition: margin-left 0.2s;
}
.dark-theme .navbar .header {
  display: unset;
  white-space: nowrap;
}
.dark-theme .navbar .header.open {
  display: none;
}
.dark-theme .navbar.open {
  width: 250px;
}
.dark-theme .navbar.open .header {
  display: none;
  width: 230px;
}
.dark-theme .navbar.open .header.open {
  display: unset;
  padding: 20px;
}
.dark-theme .navbar.open .element-text {
  display: inline-block;
}
.dark-theme .navbar.open + main {
  margin-left: 250px;
}
.dark-theme .navbar.open .navbar-btn {
  transform: rotate(180deg);
}
.dark-theme .navbar-elements a {
  display: flex;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  border-radius: 8px;
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
  transition: all 0.3s;
  color: #999;
}
.dark-theme .navbar-elements a:hover {
  background-color: #4d4d4d;
}
.dark-theme .navbar-elements a img {
  display: inline-block;
  position: absolute;
  left: 12px;
  width: 36px;
}
.dark-theme .navbar-elements a span.element-text {
  display: none;
  position: absolute;
  left: 75px;
}
.dark-theme header {
  display: block;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 20px 0;
  margin-bottom: 50px;
  background-color: #999;
  color: #444444;
  font-size: 25px;
}
.dark-theme .navbar-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
  line-height: 31.5789473684px;
  bottom: 30px;
  right: -15px;
  background-color: #999;
  color: #444444;
}
.dark-theme .documents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 80px 50px 100px 150px;
  width: 1000px;
  text-align: center;
  color: black;
  background-color: #fff;
  border: 1px solid black;
}
.dark-theme .documents p {
  margin: 3px;
}
.dark-theme hr {
  border: none;
  height: 1px;
  border-top: 3px solid #000000;
  border-bottom: 5px solid #000000;
  margin: 0;
  width: 100%;
}
.dark-theme .tnr {
  font-family: "Times New Roman", serif;
}

.light-theme {
  /* navbar */
  /* navbar */
}
.light-theme body {
  margin: 0;
  text-align: center;
  color: #555;
  background: #e4e9f7;
  font-family: "Comfortaa";
  font-size: 15px;
  transition: all 0.3s;
}
.light-theme .navbar {
  position: fixed;
  box-sizing: border-box;
  height: 100vh;
  width: 80px;
  top: 0;
  padding: 10px;
  background-color: #ffffff;
  transition: all 0.2s;
  /* open navbar */
  /* navbar-elements */
}
.light-theme .navbar + main {
  margin-left: 80px;
  transition: margin-left 0.2s;
}
.light-theme .navbar .header {
  display: unset;
  white-space: nowrap;
}
.light-theme .navbar .header.open {
  display: none;
}
.light-theme .navbar.open {
  width: 250px;
}
.light-theme .navbar.open .header {
  display: none;
  width: 230px;
}
.light-theme .navbar.open .header.open {
  display: unset;
  padding: 20px;
}
.light-theme .navbar.open .element-text {
  display: inline-block;
}
.light-theme .navbar.open + main {
  margin-left: 250px;
}
.light-theme .navbar.open .navbar-btn {
  transform: rotate(180deg);
}
.light-theme .navbar-elements a {
  display: flex;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  border-radius: 8px;
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
  transition: all 0.3s;
  color: #555;
}
.light-theme .navbar-elements a:hover {
  background-color: #f2edff;
}
.light-theme .navbar-elements a img {
  display: inline-block;
  position: absolute;
  left: 12px;
  width: 36px;
}
.light-theme .navbar-elements a span.element-text {
  display: none;
  position: absolute;
  left: 75px;
}
.light-theme header {
  display: block;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 20px 0;
  margin-bottom: 50px;
  background-color: #8658ea;
  color: #ffffff;
  font-size: 25px;
}
.light-theme .navbar-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
  line-height: 31.5789473684px;
  bottom: 30px;
  right: -15px;
  background-color: #8658ea;
  color: #ffffff;
}
.light-theme .documents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 80px 50px 100px 150px;
  width: 1000px;
  text-align: center;
  color: black;
  background-color: #fff;
  border: 1px solid black;
}
.light-theme .documents p {
  margin: 3px;
}
.light-theme hr {
  border: none;
  height: 1px;
  border-top: 3px solid #000000;
  border-bottom: 5px solid #000000;
  margin: 0;
  width: 100%;
}
.light-theme .tnr {
  font-family: "Times New Roman", serif;
}

/*# sourceMappingURL=styles_with_themes.css.map */
