@font-face {
  font-family: Comfortaa;
  src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}
html {
  min-height: 100vh;
  border: 2px #f00;
}

.dark-theme {
  /* navbar */
  cursor: url("../cursors/default/dark.cur"), default;
  cursor: url("../cursors/default/dark.cur"), default;
}
.dark-theme .navbar-btn.theme .light {
  display: unset;
}
.dark-theme .navbar-btn.theme .dark {
  display: none;
}
.dark-theme .navbar {
  font-weight: bold;
}
.dark-theme body {
  margin: 0;
  text-align: center;
  color: #999;
  background: #2a2a2a;
  font-family: "Comfortaa";
  font-size: 15px;
  transition: all 0.3s;
}
.dark-theme .navbar {
  position: fixed;
  box-sizing: border-box;
  height: 100vh;
  width: 80px;
  top: 0;
  padding: 10px;
  background-color: #333;
  transition: all 0.2s;
  /* open navbar */
  /* navbar-elements */
}
.dark-theme .navbar + main {
  margin-left: 80px;
  transition: margin-left 0.2s;
}
.dark-theme .navbar .header {
  display: unset;
  white-space: nowrap;
}
.dark-theme .navbar .header.open {
  display: none;
}
.dark-theme .navbar.open {
  width: 250px;
}
.dark-theme .navbar.open .header {
  display: none;
  width: 230px;
}
.dark-theme .navbar.open .header.open {
  display: unset;
  padding: 20px;
}
.dark-theme .navbar.open .element-text {
  display: inline-block;
}
.dark-theme .navbar.open + main {
  margin-left: 250px;
}
.dark-theme .navbar.open .navbar-btn.open {
  transform: rotate(180deg);
}
.dark-theme .navbar-elements a {
  display: flex;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  border-radius: 8px;
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
  transition: all 0.3s;
  color: #999;
}
.dark-theme .navbar-elements a:hover {
  background-color: #4d4d4d;
}
.dark-theme .navbar-elements a svg {
  display: inline-block;
  position: absolute;
  left: 12px;
  width: 36px;
  fill: #999;
}
.dark-theme .navbar-elements a span.element-text {
  display: none;
  position: absolute;
  left: 75px;
}
.dark-theme header {
  cursor: url("../cursors/default/dark.cur"), default;
  display: block;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  user-select: none;
  border-radius: 8px;
  padding: 20px 0;
  margin-bottom: 50px;
  background-color: #999;
  color: #333;
  font-size: 25px;
}
.dark-theme .navbar-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
  line-height: 31.5789473684px;
  right: -15px;
  cursor: url("../cursors/pointer/dark.cur"), pointer;
  background-color: #999;
  color: #333;
}
.dark-theme .navbar-btn svg {
  fill: none;
  stroke: #333;
}
.dark-theme .navbar-btn svg#moon {
  fill: #333;
}
.dark-theme .navbar-btn.open {
  bottom: 30px;
}
.dark-theme .navbar-btn.theme {
  bottom: 72px;
}
.dark-theme main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dark-theme main::-webkit-scrollbar {
  width: 20px;
  padding: 2px;
}
.dark-theme main::-webkit-scrollbar-track {
  background-color: #333;
}
.dark-theme main::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
  border: 4px solid #333;
}
.dark-theme a, .dark-theme button, .dark-theme .navbar-elements,
.dark-theme input[type=button],
.dark-theme input[type=reset],
.dark-theme input[type=submit] {
  cursor: url("../cursors/pointer/dark.cur"), pointer;
}
.dark-theme span, .dark-theme p,
.dark-theme input[type=text],
.dark-theme input[type=password],
.dark-theme input[type=email] {
  cursor: url("../cursors/text/dark.cur"), text;
}
.dark-theme svg.error_requests {
  stroke: #999;
}
.dark-theme form {
  display: block;
  text-align: left;
  width: 300px;
}
.dark-theme input, .dark-theme .button {
  box-sizing: border-box;
  height: 60px;
  width: 300px;
  background-color: #999;
  border: 4px solid #999;
  border-radius: 8px;
  color: #333;
  text-decoration: none;
  font-family: Comfortaa;
  font-weight: bold;
  caret-color: #333;
  padding: 20px 30px;
}
.dark-theme input[type=text]:hover, .dark-theme input[type=password]:hover, .dark-theme input[type=email]:hover, .dark-theme .button[type=text]:hover, .dark-theme .button[type=password]:hover, .dark-theme .button[type=email]:hover {
  background-color: #888888;
}
.dark-theme input[type=text]:focus, .dark-theme input[type=password]:focus, .dark-theme input[type=email]:focus, .dark-theme .button[type=text]:focus, .dark-theme .button[type=password]:focus, .dark-theme .button[type=email]:focus {
  border: 4px solid #333;
  outline: none;
  background-color: #888888;
}
.dark-theme input[type=button]:hover, .dark-theme input[type=reset]:hover, .dark-theme input[type=submit]:hover, .dark-theme input[href]:hover, .dark-theme .button[type=button]:hover, .dark-theme .button[type=reset]:hover, .dark-theme .button[type=submit]:hover, .dark-theme .button[href]:hover {
  background-color: #888888;
  border-color: #888888;
}
.dark-theme input[type=button]:active, .dark-theme input[type=reset]:active, .dark-theme input[type=submit]:active, .dark-theme input[href]:active, .dark-theme .button[type=button]:active, .dark-theme .button[type=reset]:active, .dark-theme .button[type=submit]:active, .dark-theme .button[href]:active {
  opacity: 0.8;
}
.dark-theme input::placeholder, .dark-theme .button::placeholder {
  color: #333;
}
.dark-theme input, .dark-theme .button {
  box-sizing: border-box;
  height: 60px;
  width: 300px;
  background-color: #999;
  border: 4px solid #999;
  border-radius: 8px;
  color: #333;
  text-decoration: none;
  font-family: Comfortaa;
  font-weight: bold;
  caret-color: #333;
  padding: 20px 30px;
}
.dark-theme input[type=text]:hover, .dark-theme input[type=password]:hover, .dark-theme input[type=email]:hover, .dark-theme .button[type=text]:hover, .dark-theme .button[type=password]:hover, .dark-theme .button[type=email]:hover {
  background-color: #888888;
}
.dark-theme input[type=text]:focus, .dark-theme input[type=password]:focus, .dark-theme input[type=email]:focus, .dark-theme .button[type=text]:focus, .dark-theme .button[type=password]:focus, .dark-theme .button[type=email]:focus {
  border: 4px solid #333;
  outline: none;
  background-color: #888888;
}
.dark-theme input[type=button]:hover, .dark-theme input[type=reset]:hover, .dark-theme input[type=submit]:hover, .dark-theme input[href]:hover, .dark-theme .button[type=button]:hover, .dark-theme .button[type=reset]:hover, .dark-theme .button[type=submit]:hover, .dark-theme .button[href]:hover {
  background-color: #888888;
  border-color: #888888;
}
.dark-theme input[type=button]:active, .dark-theme input[type=reset]:active, .dark-theme input[type=submit]:active, .dark-theme input[href]:active, .dark-theme .button[type=button]:active, .dark-theme .button[type=reset]:active, .dark-theme .button[type=submit]:active, .dark-theme .button[href]:active {
  opacity: 0.8;
}
.dark-theme input::placeholder, .dark-theme .button::placeholder {
  color: #333;
}
.dark-theme .documents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 80px 50px 100px 150px;
  width: 1000px;
  text-align: center;
  color: black;
  background-color: #fff;
  border: 1px solid black;
}
.dark-theme .documents p {
  margin: 3px;
}
.dark-theme hr {
  border: none;
  height: 1px;
  border-top: 3px solid #000000;
  border-bottom: 5px solid #000000;
  margin: 0;
  width: 100%;
}
.dark-theme .tnr {
  font-family: "Times New Roman", serif;
}

.light-theme {
  /* navbar */
  cursor: url("../cursors/default/light.cur"), default;
}
.light-theme .navbar-btn.theme .light {
  display: none;
}
.light-theme .navbar-btn.theme .dark {
  display: unset;
}
.light-theme body {
  margin: 0;
  text-align: center;
  color: #555;
  background: #e4e9f7;
  font-family: "Comfortaa";
  font-size: 15px;
  transition: all 0.3s;
}
.light-theme .navbar {
  position: fixed;
  box-sizing: border-box;
  height: 100vh;
  width: 80px;
  top: 0;
  padding: 10px;
  background-color: #ffffff;
  transition: all 0.2s;
  /* open navbar */
  /* navbar-elements */
}
.light-theme .navbar + main {
  margin-left: 80px;
  transition: margin-left 0.2s;
}
.light-theme .navbar .header {
  display: unset;
  white-space: nowrap;
}
.light-theme .navbar .header.open {
  display: none;
}
.light-theme .navbar.open {
  width: 250px;
}
.light-theme .navbar.open .header {
  display: none;
  width: 230px;
}
.light-theme .navbar.open .header.open {
  display: unset;
  padding: 20px;
}
.light-theme .navbar.open .element-text {
  display: inline-block;
}
.light-theme .navbar.open + main {
  margin-left: 250px;
}
.light-theme .navbar.open .navbar-btn.open {
  transform: rotate(180deg);
}
.light-theme .navbar-elements a {
  display: flex;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  border-radius: 8px;
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
  transition: all 0.3s;
  color: #555;
}
.light-theme .navbar-elements a:hover {
  background-color: #f2edff;
}
.light-theme .navbar-elements a svg {
  display: inline-block;
  position: absolute;
  left: 12px;
  width: 36px;
  fill: #555;
}
.light-theme .navbar-elements a span.element-text {
  display: none;
  position: absolute;
  left: 75px;
}
.light-theme header {
  cursor: url("../cursors/default/light.cur"), default;
  display: block;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  user-select: none;
  border-radius: 8px;
  padding: 20px 0;
  margin-bottom: 50px;
  background-color: #8658ea;
  color: #ffffff;
  font-size: 25px;
}
.light-theme .navbar-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
  line-height: 31.5789473684px;
  right: -15px;
  cursor: url("../cursors/pointer/light.cur"), pointer;
  background-color: #8658ea;
  color: #ffffff;
}
.light-theme .navbar-btn svg {
  fill: none;
  stroke: #ffffff;
}
.light-theme .navbar-btn svg#moon {
  fill: #ffffff;
}
.light-theme .navbar-btn.open {
  bottom: 30px;
}
.light-theme .navbar-btn.theme {
  bottom: 72px;
}
.light-theme main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.light-theme main::-webkit-scrollbar {
  width: 20px;
  padding: 2px;
}
.light-theme main::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.light-theme main::-webkit-scrollbar-thumb {
  background-color: #8658ea;
  border-radius: 10px;
  border: 4px solid #ffffff;
}
.light-theme a, .light-theme button, .light-theme .navbar-elements,
.light-theme input[type=button],
.light-theme input[type=reset],
.light-theme input[type=submit] {
  cursor: url("../cursors/pointer/light.cur"), pointer;
}
.light-theme span, .light-theme p,
.light-theme input[type=text],
.light-theme input[type=password],
.light-theme input[type=email] {
  cursor: url("../cursors/text/light.cur"), text;
}
.light-theme svg.error_requests {
  stroke: #555;
}
.light-theme form {
  display: block;
  text-align: left;
  width: 300px;
}
.light-theme input, .light-theme .button {
  box-sizing: border-box;
  height: 60px;
  width: 300px;
  background-color: #8658ea;
  border: 4px solid #8658ea;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  font-family: Comfortaa;
  font-weight: bold;
  caret-color: #ffffff;
  padding: 20px 30px;
}
.light-theme input[type=text]:hover, .light-theme input[type=password]:hover, .light-theme input[type=email]:hover, .light-theme .button[type=text]:hover, .light-theme .button[type=password]:hover, .light-theme .button[type=email]:hover {
  background-color: #753def;
}
.light-theme input[type=text]:focus, .light-theme input[type=password]:focus, .light-theme input[type=email]:focus, .light-theme .button[type=text]:focus, .light-theme .button[type=password]:focus, .light-theme .button[type=email]:focus {
  border: 4px solid #ffffff;
  outline: none;
  background-color: #753def;
}
.light-theme input[type=button]:hover, .light-theme input[type=reset]:hover, .light-theme input[type=submit]:hover, .light-theme input[href]:hover, .light-theme .button[type=button]:hover, .light-theme .button[type=reset]:hover, .light-theme .button[type=submit]:hover, .light-theme .button[href]:hover {
  background-color: #753def;
  border-color: #753def;
}
.light-theme input[type=button]:active, .light-theme input[type=reset]:active, .light-theme input[type=submit]:active, .light-theme input[href]:active, .light-theme .button[type=button]:active, .light-theme .button[type=reset]:active, .light-theme .button[type=submit]:active, .light-theme .button[href]:active {
  opacity: 0.8;
}
.light-theme input::placeholder, .light-theme .button::placeholder {
  color: #ffffff;
}
.light-theme input, .light-theme .button {
  box-sizing: border-box;
  height: 60px;
  width: 300px;
  background-color: #8658ea;
  border: 4px solid #8658ea;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  font-family: Comfortaa;
  font-weight: bold;
  caret-color: #ffffff;
  padding: 20px 30px;
}
.light-theme input[type=text]:hover, .light-theme input[type=password]:hover, .light-theme input[type=email]:hover, .light-theme .button[type=text]:hover, .light-theme .button[type=password]:hover, .light-theme .button[type=email]:hover {
  background-color: #753def;
}
.light-theme input[type=text]:focus, .light-theme input[type=password]:focus, .light-theme input[type=email]:focus, .light-theme .button[type=text]:focus, .light-theme .button[type=password]:focus, .light-theme .button[type=email]:focus {
  border: 4px solid #ffffff;
  outline: none;
  background-color: #753def;
}
.light-theme input[type=button]:hover, .light-theme input[type=reset]:hover, .light-theme input[type=submit]:hover, .light-theme input[href]:hover, .light-theme .button[type=button]:hover, .light-theme .button[type=reset]:hover, .light-theme .button[type=submit]:hover, .light-theme .button[href]:hover {
  background-color: #753def;
  border-color: #753def;
}
.light-theme input[type=button]:active, .light-theme input[type=reset]:active, .light-theme input[type=submit]:active, .light-theme input[href]:active, .light-theme .button[type=button]:active, .light-theme .button[type=reset]:active, .light-theme .button[type=submit]:active, .light-theme .button[href]:active {
  opacity: 0.8;
}
.light-theme input::placeholder, .light-theme .button::placeholder {
  color: #ffffff;
}
.light-theme .documents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 80px 50px 100px 150px;
  width: 1000px;
  text-align: center;
  color: black;
  background-color: #fff;
  border: 1px solid black;
}
.light-theme .documents p {
  margin: 3px;
}
.light-theme hr {
  border: none;
  height: 1px;
  border-top: 3px solid #000000;
  border-bottom: 5px solid #000000;
  margin: 0;
  width: 100%;
}
.light-theme .tnr {
  font-family: "Times New Roman", serif;
}

/*# sourceMappingURL=styles_with_themes.css.map */
