{% from "base/icons.html" import delete, edit %}
{% macro post_about(post, author, user) %}
    <div class="post_about">
        <div class="post_date">Опубликовано:
            {% if post and post.publication_date %}
                <span class="post_date_text">
                    {{ post.publication_date|fromTimestamp|strftime("%H:%M %d.%m.%Y") }}
                </span>
            {% endif %}
        </div>
        <div class="post_author">Автор:
            {% if author %}
                {{ author.lastname }} {{ author.firstname }}
            {% else %}
                Фамилия и Имя автора
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro post_header(text, post, author, user) %}
    <div class="post_header">
        <h2>{{ post.header if post else text }}</h2>
        {% if author and user and author.id == user.id %}
            <div class="post_edit_buttons">
                <a href="{{ url_for('edit_post', post_id=post.id) }}">{{ edit() }}</a>
                <a href="javascript:delete_post({{ post.id }})">{{ delete() }}</a>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro ad(post, author, user) %}
    <div class="post">
        {{ post_header("Объявление", post, author, user) }}
        {% autoescape false %}
            <p class="post_text">{{ post.post|line_breaks if post else "Текст объявления" }}</p>
        {% endautoescape %}
        {{ post_about(post, author, user) }}
    </div>
{% endmacro %}

{% macro event(post, author, user) %}
    <div class="post">
        {{ post_header("Событие", post, author, user) }}
        <div class="event_date">
            Дата события:
            {{ post.date|fromTimestamp|strftime("%H:%M %d.%m.%Y") if post else "hh:mm DD:MM:YY" }}
        </div>
        {% autoescape false %}
            <p class="post_text">{{ post.post|line_breaks if post else "Описание события" }}</p>
        {% endautoescape %}
        {{ post_about(post, author, user) }}
    </div>
{% endmacro %}