{% extends base %}
{% from "documents/documents.html" import documents %}

{% block content %}
    <form class="chose_documents" method="post">
    {% for code_word, (document, name) in documents.items() %}
        <details>
        <summary>
            {{ name }}
            <div class="checkbox">
                <input id="{{ code_word }}" type="radio" name="doc" value="{{ code_word }}">
                <label for="{{ code_word }}"></label>
            </div>
        </summary>
        {{ document() }}
        </details>
    {% endfor %}
    <input type="submit" value="Далее">
    </form>
{% endblock %}
