{% extends base %}
{% block content %}
    <div class="chose_documents">
    {% set full_names = db.session.query(users.firstname, users.lastname,  users.patronymic) %}
    {% for classroom in range(1, 12) if full_names.filter(users.classroom == classroom|string + "н").all() %}
        <details>
        <summary>
            {{ classroom }}
            <div class="checkbox">
                <input id="chose_class{{ classroom }}" type="checkbox">
                <label for="chose_class{{ classroom }}"></label>
            </div>
        </summary>
        {% for let in ["н", "о", "п"] %}
            <details>
            <summary>
                {{ classroom|string + let }}
                <div class="checkbox">
                    <input id="chose_class{{ classroom }}{{ let }}" type="checkbox">
                    <label for="chose_class{{ classroom }}{{ let }}"></label>
                </div>
            </summary>
            {% for firstname, lastname, patronymic in full_names.filter(users.classroom == classroom|string + let).all() %}
                <p class="checkbox">
                    <input type="checkbox" id="{{ firstname }}">
                    <label for="{{ firstname }}">{{ lastname }} {{ firstname }} {{ patronymic }}</label>
                </p>
            {% endfor %}
            </details>
        {% endfor %}
        </details>
    {% endfor %}
    </div>
{% endblock %}