{# Справка РЖД #}
{% macro title1() %}
    <p class="tnr" style="font-size: 20px">ДЕПАРТАМЕНТ ОБРАЗОВАНИЯ И НАУКИ ГОРОДА МОСКВЫ</p>
    <p class="tnr" style="font-size: 18px"><b>ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ОБЩЕОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ<br>
        ГОРОДА МОСКВЫ «ШКОЛА № 627 ИМЕНИ ГЕНЕРАЛА Д.Д. ЛЕЛЮШЕНКО»<br>
        (ГБОУ Школа № 627)</b>
    </p>
    <p class="tnr" style="font-size: 17px;">
        115054 г. Москва, ул. Дубининская,
        д.42; тел/факс (495) 959-78-31;
        e-mail:627@edu.mos.ru<br>
        ОКПО 14172615 ОГРН 1127747118003 ИНН/КПП 7713757043/770501001</p>
    <hr>
{% endmacro %}
{% macro ul(count) %}
    {{ "_" * count }}
{% endmacro %}
{%  macro rzd() %}
    <div>
        {{ title1() }}
    </div>
{% endmacro %}
