<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/styles/styles_with_themes.css">
</head>
<body style="display: flex; justify-content: center;">
{% import "documents/documents.html" as d %}
    <div class="documents" style="display: inline-block">
        {{ d.rzhd() }}
    </div>
<script>
    let d = document.querySelector(".documents");
    let scale = innerWidth / 620;
    d.style.transform = `scale(${scale})`;
    d.style.marginTop = 800 / 2 * scale - (800 / 2) + "px"
</script>

</body>
</html>