{% extends base %}
{% block content %}
    <h2>Войти</h2>
    <form method="POST">
{#        {% for msg in get_flashed_messages() %}#}
{#            <div class="form_error">#}
{#                {{ msg }}#}
{#            </div>#}
{#        {% endfor %}#}
        {{ form.csrf_token }}
        {% if form.submit.errors %}
        <div class="form_error">
        {% for error in form.submit.errors %}
            {{ error if error }}
        {% endfor %}
        </div>
        {% endif %}
        {% for field in form if field.name != "csrf_token" %}
            <p class="{{ field.name }} {{ 'checkbox' if field.type == "BooleanField" }}">
                {{ field.label() if field.type != "SubmitField" and field.type != "BooleanField" }}<br>
                {{ field }}
                {{ field.label() if field.type == "BooleanField" }}
            </p>
        {% endfor %}
    </form>
    <h3>или</h3>
    <a href="{{ url_for('register') }}" class="button">Зарегистрироваться</a>
{% endblock %}
