{% extends base %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {% for ctg, msg in get_flashed_messages(True) %}
    <div class="flash">{{ msg }}</div>
    {% endfor %}
    <form method="POST">
        <label for="username">Login:</label><br>
        <input type="text" id="username" name="username" placeholder="Введите логин"><br>
        <label for="password">password:</label><br>
        <input type="password" name="password" id="password" placeholder="Введите пароль"><br>
        <input type="submit">
    </form>
{% endblock %}
