{% extends base %}
{% block content %}
    <h2>Создать аккаунт</h2>
    <form method="POST" class="register">
        {{ form.csrf_token }}
        {% for field in form if field.name != "csrf_token" %}
            <p class="{{ field.name }}">
                {% if field.errors %}
                <div class="form_error">
                {% for error in field.errors %}
                    {{ error if error }}
                {% endfor %}
                </div>
                {% endif %}
                {{ field.label() if field.type != "SubmitField" }}<br>
                {{ field }}
            </p>
        {% endfor %}
    </form>
    <h3>или</h3>
    <a href="{{ url_for('login') }}" class="button">Войти</a><br>
{% endblock %}
